<ion-header>
  <ion-toolbar>
    <!-- Boton que usa paginas apiladas para volver a la anterior-->
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Saludo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Ingresa tu nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-button  (click)=alertaNombre()>
    <ion-icon name="hand-right-outline"></ion-icon> 
    Saludar
  </ion-button>
  <ion-item>
    <p>El texto almacenado desde Storage es: {{txtStorage}}</p>
  </ion-item>
</ion-content>
